<!--the template inherits from the base.html template -->
{% extends 'base.html' %}
{%block title%}
  Comflat - porówywarka trójmiasto
{%endblock%}
<!--We define a block that will be inserted
   in place of the content block defined in the base template. In this case, we include
    a simple phrase describing the "Comflat" application, and its features.-->
{%block content%}
<div style="font-family: Arial, sans-serif;margin-top:20px;text-align:center">
  
Comflat to aplikacja umożliwiająca porównywanie cen mieszkań w Trójmieście.</br>
 Dodatkowo, umożliwia porównywanie cen mieszkań w dzielnicach określonego miasta z określonymi wytycznymi, takimi jak liczba pokoi czy minimalna powierzchnia mieszkania.
</div>
{%endblock%}